<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>TodoList</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <style>
        .collapse {
            display: block;
        }
    </style>
    <script src="js/vue.js"></script>

</head>

<body>
    <div class="container-fluid p-5" id="app">
        <h1>todolist</h1>
        <div class="main">
            <div class="input-group">
                <input type="text" v-model="keyword" ref="keyword" class="form-control" @keyup.13="add">
                <div class="input-group-append">
                    <button class="btn btn-success" @click="add">添加</button>
                </div>
            </div>


            <table class="table table-sm" ref="table">
                <thead>
                    <tr>
                        <th scope="col" width="100"><label><input type="checkbox"
                                    value='100'>全选</label></th>
                        <th scope="col" width="100">#</th>
                        <th scope="col">事项</th>
                        <th scope="col">时间</th>
                        <th scope="col" width="150">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,idx) in list" :class="{'table-dark':item.done,'table-success':item.selected}"
                        @click="selecte(item)">
                        <td><input type="checkbox" v-model="item.selected" :disabled="item.done"></td>
                        <td>{{idx+1}}{{item.selected}}</td>
                        <td>{{item.event}}</td>
                        <td>{{item.time}}</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-outline-primary" @click="complete(item)"
                                    :disabled="item.done">完成</button>
                                <button class="btn btn-outline-danger" @click="remove(idx)">删除</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>代办事项：{{list.length}}，完成：{{completed.length}} 未完成：{{list.length-completed.length}}</div>
        </div>
    </div>
    <script>
        /**
            案例：代办事项TODOList 
            * 增
            * 删
            * 改
            * 查
            * 
        
            * 实例属性
                * $ref
                * 
            * 全选/不选（练习）
        */
        let vm = new Vue({
            el: '#app',
            data: {
                list: [{
                    event: '观看《妇联4》',
                    time: '2019-4-24 00:00:00',
                    done:false,
                    selected:false
                }],
                keyword: ''
            },
            computed:{
                // computed中的属性，就是存储器属性
                // 值为函数时，为getter
                completed(){
                    return this.list.filter(item=>item.done);
                }
            },
            methods: {
                // 增：添加
                add() {
                    this.list.push({ 
                        event: this.keyword, 
                        done:false,
                        selected:false,
                        time: this.formatDate(new Date(),'YYYY/MM/DD')
                    })

                    // 清空并获得焦点
                    this.keyword = '';

                    this.$refs.keyword.focus();
                },

                // 删：删除
                remove(idx) {
                    this.list.splice(idx, 1)
                },

                // 改：完成
                complete(item){
                    item.done = true;
                },

                // 选择
                selecte(item){console.log(item)
                    item.selected=!item.selected
                },

                // 格式化
                formatDate(date=new Date(),fmt='YYYY-MM-DD') {
                    // 预订字符对应时间
                    var o = {
                        "M+": date.getMonth() + 1, //月份 
                        "D+": date.getDate(), //日 
                        "h+": date.getHours(), //小时 
                        "m+": date.getMinutes(), //分 
                        "s+": date.getSeconds(), //秒 
                        "q+": Math.floor((date.getMonth() + 3) / 3), //季度 
                        "S": date.getMilliseconds() //毫秒 
                    };

                    // 匹配年份
                    // 年份比较特殊，所以单独处理
                    // test方法如果返回true，RegExp.$1得到匹配的字符
                    if (/(Y+)/.test(fmt)) {
                        // 得到fmt字符串中Y字符对应的时间
                        // YYYY => 2017
                        // YY => 17
                        var res = String(date.getFullYear()).substr(4 - RegExp.$1.length);

                        // 替换年份
                        fmt = fmt.replace(RegExp.$1, res);
                    }

                    for (var str in o) {
                        // 创建正则时设定分组，以便获取匹配到的字符
                        // RegExp.$1
                        var reg = new RegExp('(' + str + ')');

                        // 如果有匹配则把fmt中匹配到的字符替换成o中对应的时间，根据fmt中的字符决定是否补0
                        // YYYYDDMM => 20170813
                        // YYYY-DD-MM hh:mm:ss => 2017-08-13 20:12:30
                        if (reg.test(fmt)) {
                            // 得到匹配字符对应的时间
                            var res = RegExp.$1.length > 1 ? ('00' + o[str]).substr(String(o[str]).length) : o[str];
                            fmt = fmt.replace(RegExp.$1, res);
                        }
                    }

                    return fmt;
                }
            }
        })
    </script>
</body>

</html>